@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
body {
    background: url(../images/background.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    font-family: 'Open Sans', sans-serif;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: #FF432E;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 21px;
}


/**** Start Section Title Section ****/

.section-title h3 {
    color: #666 !important;
    //font-style: italic;
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    text-transform: none;
}


/**** Start Logo Section ****/

#logo-section {}

.logo span {
    color: #999;
}


/**** Start Background Color ****/

.blue {
    background: #28ABE3;
}

.ocean-blue {
    background: #3212ff;
}

.green {
    background: #72bf48;
}

.red {
    background: #FF432E;
}

.light-red {
    background: #FB6648;
}

.light-orange {
    background: #FA6900;
}

.color {
    background: #0ECEAB;
}


/**** Start Main Body Section ****/

.mainbody-section {
    padding-top: 50px;
    padding-bottom: 30px;
}

.menu-item {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.menu-item a {
    color: #fff;
    display: block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.menu-item a p {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.menu-item a i {
    font-size: 50px;
    padding-bottom: 20px;
}

.menu-item:hover a {
    text-decoration: none;
    //color: #333;
    animation: wobble;
    -webkit-animation: wobble;
    animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
}

.disabled {
    pointer-events: none; //This makes it not clickable
    opacity: 0.8; //This grays it out to look disabled
}

@media only screen and (min-width: 600px) and (max-width: 991px) {
    .menu-item {
        display: inline-block;
        width: 32.8%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .menu-item {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .menu-item a i {
        font-size: 32px;
    }
    .menu-item a p {
        font-size: 16px;
    }
}

.home-slider img {
    width: 100%;
    height: auto;
}

.home-slider .carousel-indicators {
    position: absolute;
    bottom: 10%;
}

.home-slider .carousel-indicators .active {
    background-color: #FF432E;
}

.copyright {
    background: rgba( 0, 0, 0, 0.7);
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}


/**** Start Modal Section ****/

.section-modal .modal-content {
    padding: 100px 0 !important;
    min-height: 100%;
    border: 0 !important;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #888;
    font-weight: 300;
}

.section-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.section-modal .close-modal:hover {
    opacity: .3;
}

.section-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #333;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.section-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #333;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sumario-video {
    margin-left: 30px;
}


/**** Start Line divisor for Media Section ****/

hr.media {
    padding: 0;
    border: none;
    border-top: medium double #bbb;
    color: #bbb;
    text-align: center;
}

hr.media:after {
    content: "\f03d";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}


/* ajuste para nao mostrar o download */

video::-internal-media-controls-download-button {
    display: none;
}

video::-webkit-media-controls-enclosure {
    overflow: hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 15px);
    /* Adjust as needed */
}
